.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    margin: 0px;
}

.main-content {
  flex-grow: 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlists {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    padding: 10px;
    height: calc(100% - 80px); 
    box-sizing: border-box;
  }
  
