<div class="playlists-container d-flex flex-wrap" *ngIf="!playlistNotFound; else notFound">
  <div
    *ngFor="let playlist of playlists; let i = index"
    class="card playlist-card shadow-sm m-2"
    (click)="navigateToPlaylist(playlist.id)"
  >
    <img class="card-img-top playlist-cover" [src]="playlist.imageUrl" alt="Cover" />
    <div class="card-body">
      <h5 class="card-title text-truncate" title="{{ playlist.name }}">{{ playlist.name }}</h5>
      <p class="card-text text-muted">{{ playlist.description }}</p>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="text-center py-5">
    <h3 class="text-muted">Playlists Not Found</h3>
  </div>
</ng-template>
