<header class="header shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-2 px-3">
    <div class="navbar-brand d-flex align-items-center">
      <i class="pi pi-home icon me-3" (click)="navigateTo('/home')" title="Go to home page"></i>
      <i 
        class="pi pi-heart icon me-3 text-danger" 
        (click)="navigateTo('/favorite/tracks')" 
        title="Favorite Tracks">
      </i>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <p-button 
        (onClick)="menu.toggle($event)" 
        icon="pi pi-ellipsis-v" 
        class="menu-btn btn-outline-secondary">
      </p-button>
    </div>

    <form class="search-form ms-auto me-auto d-flex align-items-center" (ngSubmit)="onSearch()">
      <input
        class="form-control me-2 search-input"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
        [(ngModel)]="textInput"
      />
      <button
        pButton
        type="button"
        icon="pi pi-search"
        title="Find"
        (click)="onSearch()"
      ></button>
    </form>

    <div class="d-flex align-items-center">
      
      <i class="pi pi-sign-out icon text-danger" (click)="logout()" title="Logout"></i>
    </div>
  </nav>
</header>
