<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="d-flex flex-grow-3 align-items-center">
          <div class="navbar-nav ms-2">
            <p-menu #menu [model]="items" [popup]="true"/>
            <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" [label]="butLabel"/>
            <a class="nav-link fs-4" (click)="navigateTo('/tracks/see')">Tracks</a>
          </div>
        </div>
      
        <div class="d-flex flex-grow-1 justify-content-end pe-3">
          <form class="d-flex search-form" (ngSubmit)="onSearch()">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search track"
              aria-label="Search"
              name="search"
              [(ngModel)]="textInput"
            />
            <button pButton type="button" icon="pi pi-search" (click)="onSearch()"></button>
          </form>
        </div>
      </nav>
</header>
