.mainAudio{
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding: 20px;
    bottom: 0;
    position: fixed;
    margin-bottom: auto;
    height: 10%;
}
