.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.login-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.inputField {
    margin-bottom: 20px;
}

.p-float-label input {
    width: 100%;
}

.p-password input {
    width: 100%;
}

.buttonContainer {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.p-toast {
    z-index: 9999;
}