.author-image {
    width: 225px;
    object-fit: cover;
    border-radius: 10%;
}


.album-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album-item:hover{
    cursor: pointer;
    background-color: #dfdfdf;
}

h1,
h3,
h5 {
    margin: 0;
}

button {
    cursor: pointer;
}

.track-container:hover{
    background-color: #dfdfdf;
    cursor: pointer;
}
.img{
    width: 80px;
}
.track-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-weight: 500;
}

.album-name {
    font-size: 0.9rem;
    color: #555;
}

.now-playing-icon i {
    font-size: 1.2rem;
    color: #007bff; 
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.link{
    color: black;
}

.icon:hover {
    cursor: pointer;
    color: #dfdfdf;
}