<div class="search-header text-end pb-2 border-bottom" *ngIf="searchValue">
    <h4 class="d-inline me-2">Find by</h4>
    <div class="d-inline">
      <p-radioButton
        [(ngModel)]="radioVal"
        value="Track"
        variant="filled"
        (onClick)="getTracksByName()"
        inputId="track"
      />
      <label for="track" class="ms-1 me-3">Track name</label>
      <p-radioButton
        value="Album"
        [(ngModel)]="radioVal"
        variant="filled"
        (onClick)="getTracksByName()"
        inputId="album"
      />
      <label for="album" class="ms-1 me-3">Album name</label>
      <p-radioButton
        value="Playlist"
        [(ngModel)]="radioVal"
        variant="filled"
        (onClick)="getTracksByName()"
        inputId="playlist"
      />
      <label for="playlist" class="ms-1 me-3">Playlist name</label>
      <p-radioButton
        value="Author"
        [(ngModel)]="radioVal"
        variant="filled"
        (onClick)="getTracksByName()"
        inputId="author"
      />
      <label for="author" class="ms-1 me-3">Author name</label>
    </div>
  </div>
  
  <app-playlist-list></app-playlist-list>
  <app-track-list></app-track-list>