<div class="container mt-4">
  <h2>Create Playlist</h2>
  <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Playlist Title</label>
      <input formControlName="title" id="title" class="form-control" />
      <div
        *ngIf="playlistForm.get('title')?.invalid && (playlistForm.get('title')?.touched || playlistForm.get('title')?.dirty)"
        class="text-danger">
        Title is required.
      </div>
    </div>

    <div class="mb-3">
      <p-autoComplete 
        [suggestions]="authors" 
        (completeMethod)="searchAuthors($event)" 
        formControlName="author" 
        placeholder="Type to search author">
      </p-autoComplete>
      <div
        *ngIf="playlistForm.get('artist')?.invalid && (playlistForm.get('artist')?.touched || playlistForm.get('artist')?.dirty)"
        class="text-danger">
        Artist is required.
      </div>
    </div>

    <div class="mb-3">
      <p-dropdown formControlName="playlistType" [options]="playlistTypes"placeholder="Select a playlist type" />
    </div>

    <div class="mb-3">
      <label for="cover" class="form-label">Cover Image</label>
      <input type="file" id="cover" (change)="onCoverSelected($event)" class="form-control" />
    </div>

    <div class="mb-3" *ngIf="playlistForm.get('cover')?.value">
      <img class="img-fluid mb-3" alt="Cover Preview" [src]="playlistForm.get('cover')?.value" />
      <button (click)="deleteImage()" class="btn btn-danger " type="button">Delete image</button>
    </div>

    <h4>Tracks</h4>
    <div formArrayName="tracks">
      <div *ngFor="let track of tracks.controls; let i = index" class="mb-3">
        <div class="row">
          <div class="col">
            <input formControlName="title" class="form-control" placeholder="Track Title" />
            <div *ngIf="track.get('title')?.invalid && (track.get('title')?.touched || track.get('title')?.dirty)"
              class="text-danger">
              Track title is required.
            </div>
          </div>
          <div class="col">
            <p-fileUpload mode="basic" chooseLabel="Add audio" chooseIcon="pi pi-upload" accept="audio/*"
              maxFileSize="1000000" />
            <div
              *ngIf="track.get('audioFile')?.invalid && (track.get('audioFile')?.touched || track.get('audioFile')?.dirty)"
              class="text-danger">
              Audio URL is required.
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="removeTrack(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary me-2" (click)="addTrack()">Add Track</button>

    <button type="submit" class="btn btn-primary" >Create Playlist</button>
  </form>
</div>