<div class="container mt-4">
  <h2>Create Playlist</h2>
  <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Playlist Title</label>
      <input formControlName="title" id="title" class="form-control" />
      <div
        *ngIf="playlistForm.get('title')?.invalid && (playlistForm.get('title')?.touched || playlistForm.get('title')?.dirty)"
        class="text-danger">
        Title is required.
      </div>
    </div>

    <div class="mb-3">
      <p-dropdown formControlName="playlistType" [options]="playlistTypes" placeholder="Select a playlist type" />
    </div>

    <div *ngIf="isAlbum()">
      <p-calendar formControlName="releaseDate" dateFormat="dd.mm.yy" placeholder="Release Date"/>
    </div>

    <div class="mb-3">
      <label for="cover" class="form-label">Cover Image</label>
      <input type="file" id="cover" (change)="onCoverSelected($event)" class="form-control" accept="image/*"/>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="playlistForm.invalid">Create Playlist</button>
  </form>
</div>