.mainContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    text-align: center;
  }
  
  .registration-card {
    width: 400px; /* You can adjust the width */
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .inputField {
    margin-bottom: 20px;
  }
  
  .p-float-label input {
    width: 100%;
  }
  
  .p-password input {
    width: 100%;
  }
  
  .buttonContainer {
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
  
  p-message {
    margin-bottom: 15px;
  }
  