.mainAudio {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track-cover {
  width: 65px;
  object-fit: cover;
  border-radius: 5px;
}

.track-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 0.25rem;
  transition: color 0.3s ease;
}

.track-title:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.track-artist {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.25rem;
  transition: color 0.3s ease;
}

.track-artist:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  font-size: 1.10rem;
}

.icon:hover {
  cursor: pointer;
  color: #aaa9a9;
}

.selected {
  color: #007bff;
}

.audio-controlls {
  max-width: 60%;
}

.pi-heart-container {
  margin-left: 20px; 
  display: flex;
  align-items: center;
}
