<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Create autor</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="authorFormGroup">
                <div class="form-group">
                    <input  type="text" class="form-control" name="name" formControlName="name" placeholder="Enter the name">
                </div>
                <div class="form-group mt-3 mb-3">
                    <input type="file"  class="form-control" accept="image/jpeg" name="cover" (change)="onFileChange($event)" formControlName="cover">
                </div>
                <button class="btn btn-primary mt-2" [disabled]="authorFormGroup.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
